<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            @*<FocusOnNavigate RouteData="@routeData" Selector="h1" />*@
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    Theme theme = new Theme
    {
            //BackgroundOptions = new ThemeBackgroundOptions
            //{
            //    Primary = ThemeColors.Red.Shades["100"].Value
            //},
            //IsRounded = false

    // theme settings
    };
}