@using Company.Videomatic.Application.Features.Videos;

@inject NavigationManager Navigation

@*<div class="card" style="width: 100%;">
    <img src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg" class="card-img-top" />
    <div class="card-body">
        <h5 class="card-title">@Video.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <Badge Color="Color.Primary">@(Video.Tags?.Count() ?? 0) Tags</Badge>
        </h6>
        <p class="card-text">@TruncateDescription(Video.Description).</p>
        
        <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Type="ButtonType.Link"
                To="@Video.Location" Target="Target.Blank">
            Watch
        </Button>

        <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" @onclick=OnEditClicked>
            Read more <Icon Name="IconName.ArrowRight" />
        </Button>

    </div>
</div>*@
<style>
    .card {
        flex-direction: row;
        align-items: center;
    }

    .card-title {
        font-weight: bold;
    }

    .card img {
        width: 30%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .my-custom-scrollbar {
        position: relative;
        width: 800px;
        height: 400px;
        overflow: auto;
    }
</style>

<Card Margin="Margin.Is2.FromTop.Is2.FromStart.Is5.FromEnd">
    <CardImage Source=@Video.Thumbnail Alt="@Video.Name" Margin="Margin.Is2.FromStart" />

    <CardBody>
        <CardTitle Size="5">@Video.Name</CardTitle>
        <CardSubtitle Size="6">
            <Badge Color="Color.Primary">@(Video.Tags?.Count() ?? 0) Tags</Badge>
        </CardSubtitle>
        <CardText Overflow="Overflow.Scroll"
                  Background="Background.Light" 
                  Style="max-height: 80px;">@Video.Description</CardText>

        <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Type="ButtonType.Link"
                To="@Video.Location" Target="Target.Blank">
            Watch
        </Button>

        <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" @onclick=OnEditClicked>
            More <Icon Name="IconName.ArrowRight" />
        </Button>
    </CardBody>
</Card>

@code {
    [Parameter]
    public VideoDTO Video { get; set; } = new(1, "Nowhere", "No Title", "No Description");

    [Parameter]
    public bool GridMode { get; set; } = false;

    public string MaxWidthStyle => GridMode ? "max-width: 800px" : "max-width: 800px";

    string? TruncateDescription(string? description, int maxLength = 100)
    {
        if (!GridMode)
            return description;

        if ((description == null) || (description.Length <= maxLength))
        {
            return description;
        }

        return description.Substring(0, maxLength);
    }

    void OnEditClicked()
    {
        Navigation.NavigateTo($"/{nameof(VideoEdit)}/{Video.Id}");        
    }
}
    