@using Company.Videomatic.Application.Features.Videos;

@inject NavigationManager Navigation

<style>    
    .card {
        flex-direction: row;
        align-items: center;
    }

    .card-title {
        font-weight: bold;
    }

    .card img {
        width: 30%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }    
</style>

<Card Background="Background.Dark" 
      Margin="Margin.Is1.FromTop.Is3.FromStart.Is5.FromEnd" 
      WhiteText>

    <CardImage Source=@Video.Thumbnail Alt="@Video.Name" Margin="Margin.Is2.FromStart"
               @onclick="@OnEditClicked" 
               Style="cursor: pointer"/>
    <CardBody>
        <CardTitle Size="5">@Video.Name</CardTitle>

        <CardSubtitle Size="6">
            <Badge Color="Color.Primary">@(Video.Tags?.Count() ?? 0) Tags</Badge>
            <Badge Color="Color.Secondary">Details(s)</Badge>
            <Badge Color="Color.Warning">1 Transcript</Badge>
            <Badge Color="Color.Danger">?? Artifact(s)</Badge>
            <Badge Color="Color.Default">?? Artifact(s)</Badge>
            <Badge Color="Color.Info">?? Artifact(s)</Badge>
            <Badge Color="Color.Light">?? Artifact(s)</Badge>
            <Badge Color="Color.Link">?? Artifact(s)</Badge>
            <Badge Color="Color.Success">?? Artifact(s)</Badge>            
        </CardSubtitle>

        <Field Horizontal>
            <FieldLabel ColumnSize="ColumnSize.Is2">Id</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is10">
                <TextEdit Placeholder="@Video.Id.ToString()" />
            </FieldBody>
        </Field>

        <CardText Overflow="Overflow.Auto"
                  Style="max-height: 100px;">@Video.Description</CardText>

        <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" Type="ButtonType.Link"
                To="@Video.Location" Target="Target.Blank">
            Watch
        </Button>

        <Button Color="Color.Primary" Margin="Margin.Is2.FromTop" @onclick=OnEditClicked>
            More <Icon Name="IconName.ArrowRight" />
        </Button>
    </CardBody>
</Card>

@code {
    [Parameter]
    public VideoDTO Video { get; set; } = new(1, "Nowhere", "No Title", "No Description");

    [Parameter]
    public bool GridMode { get; set; } = false;

    void OnEditClicked()
    {
        Navigation.NavigateTo($"/{nameof(VideoEdit)}/{Video.Id}");        
    }
}
    