@page "/videos"
@using Company.Videomatic.Domain.Aggregates.Video;
@using VideomaticRadzen.Components
@inject ISender Sender

<h3>Videos</h3>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-p-2">
    <RadzenCheckBox @bind-Value="@allowVirtualization" Name="allowVirtualization" />
    <RadzenLabel Text="Allow virtualization" Component="allowVirtualization" />
</RadzenStack>

 <RadzenDataFilter @ref="dataFilter" 
     Data="@filteredVideos" 
     TItem="VideoDTO" 

     Auto=auto      

     ViewChanged=@(view => dataList.Reload())>
        <Properties>
            <RadzenDataFilterProperty TItem="VideoDTO" Type="@typeof(long)" Property="Id.Value" Title="Id" />
            <RadzenDataFilterProperty TItem="VideoDTO" Property="@nameof(VideoDTO.Name)" Title="Name" />
            <RadzenDataFilterProperty TItem="VideoDTO" Property="@nameof(VideoDTO.VideoPublishedAt)" Title="Published" />
            <RadzenDataFilterProperty TItem="VideoDTO" Property="@nameof(VideoDTO.VideoOwnerChannelId)" Title="Channel Id" />
        </Properties>
</RadzenDataFilter>

<RadzenDataList 
    @ref="dataList"
    Data="@filteredVideos"
    LoadData="@LoadData"    
    
    AllowVirtualization=@allowVirtualization 
    AllowPaging="@(!allowVirtualization)"
    TItem="VideoDTO" 
    PageSize="5"
                Style="@(allowVirtualization ? "height:100%;overflow:auto;" : "")"
                WrapItems="@(!allowVirtualization)"     
    PagerHorizontalAlign="HorizontalAlign.Left" 
    ShowPagingSummary="true">

        <Template Context="video">
        <RadzenCard Style="width: 100%; padding: 0;">
            <RadzenRow Gap="0">
                <!-- Title/Image -->
                <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                    <RadzenStack Orientation="Orientation.Vertical">
                        <!-- Name-->
                        <RadzenText TextStyle="TextStyle.H5" class="rz-color-secondary">@(video.Name)</RadzenText>

                        <!-- Thumbnail -->
                        <RadzenImage Path="@video.Thumbnail" Style="width: 160px; height: 90px" />
                            
                       <!-- Counts -->
                       <RadzenStack Orientation="Orientation.Horizontal">
                           <RadzenBadge Variant="Variant.Filled" Text="@(video.TagCount.ToString() + " Tag(s)")" class="rz-ml-2" />
                           <RadzenBadge Variant="Variant.Filled" Text="@(video.TranscriptCount.ToString() + " Transcript(s)")" class="rz-ml-2" />
                           <RadzenBadge Variant="Variant.Filled" Text="@(video.ArtifactCount.ToString() + " Artifact(s)")" class="rz-ml-2" />
                       </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>

                <!-- Data Values -->
                <RadzenColumn Size="12" SizeLG="7" Class="rz-p-4">
                   
                    <!-- Data Values -->
                    <RadzenRow Gap="0">                            
                        <!-- Data Values 1 -->
                        <RadzenColumn Size="6">
                            <RadzenStack Orientation="Orientation.Vertical">
                                    <LabelWithText Label="Provider" Text="@(video.Provider)" />
                                    <LabelWithText Label="Channel Id" Text="@(video.VideoOwnerChannelId)" />
                                    <LabelWithText Label="Published" Text="@(video.VideoPublishedAt.ToString())" />
                            </RadzenStack>
                        </RadzenColumn>
                        
                        <!-- Data Values 2 -->
                        <RadzenColumn Size="6">
                            <RadzenStack Orientation="Orientation.Vertical">                                    
                                <LabelWithText Label="Channel Title" Text="@(video.VideoOwnerChannelTitle)" />
                                <LabelWithText Label="Channel Id" Text="@(video.VideoOwnerChannelId)" />
                            </RadzenStack>
                        </RadzenColumn>
                    </RadzenRow>

                    <!-- Description text area-->
                    <RadzenRow>
                        <RadzenColumn Size="12">
                            <RadzenTextArea class="w-100" Style="height: 100px" Value="@video.Description" />
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenColumn>

                <!-- Actions -->
                <RadzenColumn Size="12" SizeLG="2" Class="rz-p-4">
                    <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem">
                        <RadzenButton Text="Watch" Style="width: 100%" />
                        <RadzenButton Text="More" Style="width: 100%" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </Template>
</RadzenDataList>

    <style>
        .product-title {
            min-height: 72px;
            background-color: var(--rz-secondary-lighter);
        }

        .price-badge {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            padding: 8px;
        }
    </style>

    @code {

    bool auto = true;

    RadzenDataFilter<VideoDTO> dataFilter;

    IEnumerable<VideoDTO> filteredVideos = Enumerable.Empty<VideoDTO>();
    IEnumerable<VideoDTO> videos = Enumerable.Empty<VideoDTO>();

    RadzenDataList<VideoDTO> dataList;

    // -------
    bool allowVirtualization;
        
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //filteredVideos = Enumerable.Empty<VideoDTO>();
    }

    
    //async Task OnSelectedTitlesChange(object value)
    //{
    //    if (selectedTitles != null && !selectedTitles.Any())
    //    {
    //        selectedTitles = null;
    //    }
    //
    //    await ordersGrid.FirstPage();
    //}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await dataFilter.AddFilter(new CompositeFilterDescriptor()
                {
                    Property = "Name",
                    FilterValue = "a",
                    FilterOperator = FilterOperator.Contains
                });
        }
    }

    public async Task OnStartSearch(string searchText)
    {
        var query = new GetVideosQuery(
                //PlaylistIds: new[] { PlaylistId },
                SearchText: searchText,
                IncludeTags: true,
                IncludeThumbnail: ThumbnailResolutionDTO.Medium);

        Page<VideoDTO> results = await Sender.Send(query);

        filteredVideos = results.Items;
    }

    bool isLoading;
    int count;

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        await Task.Yield();
                
        // This demo is using https://dynamic-linq.net
        var query = new GetVideosQuery(
                //PlaylistIds: new[] { PlaylistId },
                Skip: args.Skip,
                Take: args.Top,
                SearchText: null,
                IncludeTags: true,
                IncludeThumbnail: ThumbnailResolutionDTO.Medium);

        Page<VideoDTO> results = await Sender.Send(query);

        filteredVideos = results.Items;

        // Important!!! Make sure the Count property of RadzenDataGrid is set.
        //count = query.Count();
        //
        //// Perform paging via Skip and Take.
        //filteredOrders = query.Skip(args.Skip.Value).Take(args.Top.Value).ToList();

        isLoading = false;
    }
}